<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'/>
    <title>Collection - Wargamers Pledge</title>
</head>

<body>
    
    <ul>
        <li><a href="/collection/add">Add models to your collection</a></li>
    </ul>

</body>
</html>
