<!DOCTYPE html>

<html>
<head>
    <meta charset='utf-8'/>
    <title>Wargamers Pledge</title>
</head>

<body>
    <h1>Wargamers Pledge</h1>
    
    [% IF current_user %]
        Insert icon, links to admin and
        <form action="/login" method="post">
            <input type="hidden" name="action" value="logout"/>
            <input type="hidden" name="return_to" value="[% here | html %]" />
            <input type="submit" value="Logout"/>
        </form>, etc here
    [% ELSE %]
        [% INCLUDE 'login.tt' %]
    [% END %]

</body>
</html>
