<!DOCTYPE html>
<title>Login</title>
<form action="/login" method="post" charset="utf-8">
    <div class="field">
        <label id="username">Username</label>
        <input name="username" id="username"/>
    </div>
    <div class="field">
        <label id="password">Password</label>
        <input name="password" id="password" type="password"/>
    </div>
    <div class="field">
        <input type="submit" value="submit"/>
    </div>
</form>